# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
*.cache
*.v2
*.v2
sw4bed-02-main/Assignment2-BED/.vs/Assignment2-BED/v17/.suo
*.dll
*.pdb
*.cache
*.dll
*.pdb
*.xml
sw4bed-02-main/Assignment2-BED/Assignment2-BED/bin/Debug/net7.0/Assignment2-BED.deps.json
*.dll
*.pdb
*.dll
*.dll
*.props
*.props
*.pdb
*.cache
*.cache
*.v2
sw4bed-02-main/Assignment2-BED/.vs/Assignment2-BED/v17/.suo
*.2
*.2
