@page
@model exercise_4.Pages.Contacts.DetailsModel
@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="display-4">This is your contacts</h1>
    <p>another text</p>
</div>
