@page
@model exercise_4.Pages.Contacts.IndexModel
@{
    ViewData["Title"] = "damn boy";

}
<div>
    <form method="post">
        <!-- Name -->
        <label name="Name">Name</label>
        <input type="text" id="Name" name="Name"/>
        <br />

        <!-- Email -->
        <label name="Email">Email</label>
        <input type="email" id="Email" name="Email"/>
        <br />

        <!-- Phone number -->
        <label name="Phone">Phone</label>
        <input type="tel" id="Telephone" name="Telephone"/>

        <input type="submit" />
        
    </form>
</div>


